<?xml version="1.0" encoding="utf-8"?>  <!-- 定义xml版本号，及编码方式 -->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.clock">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_title"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"> <!-- 是否允许备份；应用图标；应用名称；主题 -->

        <activity
            android:exported="true"
            android:screenOrientation="landscape"
            android:name=".MainActivity"
            android:label="@string/app_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 注册活动并定义为程序入口 -->
    </application>

</manifest>